//Tipografias
$fuentePrincipal: 'Roboto', sans-serif;

//Medidas
$telefono:480px;
$tablet:992px;
$laptop:1280px;
$desktop:1440px;

//Colores
$verde:#c7c57d;
$blanco:#fff;
$rojo:#f1363a;
$rojo-claro:#f46669;
$negro:#000;
$gris: #f5f5f5;